{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Public User Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'collectuserinfo/index.css' %}">
</head>

<body>
    <div style="width: 100%; margin: auto; text-align: center">Your information:</div>
    <div class="container">
        <table style="width: auto; margin: auto" class="table">
            <tbody>
              <tr>
                <th scope="row">IP Address</th>
                <td>{{ip}}</td>
              </tr>
              <tr>
                <th scope="row">Browser</th>
                <td>{{browser}}</td>
              </tr>
              <tr>
                <th scope="row">OS</th>
                <td>{{os}}</td>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="shadow rounded">
            <div class="img_container">
              <img src="data:image/png;base64,{{chart_os|safe}}">
              <img src="data:image/png;base64,{{chart_browser|safe}}"> 
            </div>

          </div>
    </div>


</body>

<footer class='navbar fixed-bottom'>
    <p>Brought to you by <a href="https://www.linkedin.com/in/kim-n-dang/">Kim Dang</a></p>

</footer>

</html>